---
title:  "ESRC complexity seminar "
category: ESRC complexity seminar series
youtube_playlist: 
venue: 
description: 
path_to_docs: $BUCKET/events/
docs:
sessions:
- title: 
  presenters: 
    - name: 
  description: 
  youtube: 
  docs:
---

