---
layout: event-page
title: Events
permalink: events/
---

<p>The Programme runs seminars (for the business and academic community), study groups (for academics and Research Partners), complexity days (with a mixture of organisations and in-house), workshops and conferences (for the whole complexity community of interest), as well as Consortium meetings especially designed for the Research Partners.</p>

<p>Videos of many of our previous events are available on <a href="https://www.youtube.com/channel/UCaY7I2J4X_0dMyndQSqma2g">our YouTube
channel</a>.</p>

<p>Below is a list of our previous events.</p>


{% assign some-events-are-tagless = false %}
<div class="tags-expo">
  {% for tag in site.tags %}
    <h1> {{ tag[0] }} </h1>
    <div class="tags-expo-section">
      <ul class="tags-expo-posts">
	{% for post in site.categories.events %}
	  {% if post.tags contains tag[0] %}
	    {% include event-listing-entry.html post=post %}
	  {% elsif post.tags == empty %}
	    {% assign some-events-are-tagless = true %}
	  {% endif %}
	{% endfor %}
      </ul>
    </div>
  {% endfor %}

  {% if some-events-are-tagless %}
    <div class="tags-expo-section">
      <h1>Miscellaneous</h1>
      <ul class="tags-expo-posts">
	{% for post in site.categories.events %}
	  {% if post.tags == empty %}
	    {% include event-listing-entry.html post=post %}
	  {% endif %}
	{% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
