{% assign reversed_events = site.events | reverse %}
{% capture events %}

  {% for event in reversed_events %}

    {% for presenter in event.presenters %}
      {% if presenter.name contains include.key %}
        {% include post-listing-entry.html post=event do_not_link_to_anchor=true show_category=true %}
      {% endif %}
    {% endfor %}

    {% for session in event.sessions %}
      {% assign do_not_link_to_anchor = forloop.first %}
      {% unless session.is_section_heading %}
        {% for presenter in session.presenters %}
          {% if presenter.name contains include.key %}
            {% include post-listing-entry.html post=event session=session do_not_link_to_anchor=do_not_link_to_anchor show_category=true %}
          {% endif %}
        {% endfor %}
      {% endunless %}
    {% endfor %}

  {% endfor %}

{% endcapture %}

{% assign events = events | strip %}
{% if events != '' %}
<div class="events-listing">
  <div class="events-listing-group">
      <h1>{{ include.heading }}</h1>
      <ul class="events-listing-posts">
        {{ events }}
    </ul>
  </div>
</div>
{% endif %}
