<!--
Arguments:
----------
* post: a post object
* do_not_link_to_anchor: bool
* include_excerpt: bool
* show_category: bool
-->


<li>
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <span class="post-meta">{{ include.post.date | date: date_format }}</span>
  {% if include.post.end_date %}
    <span class="post-meta">- {{ include.post.end_date | date: date_format }}</span>
  {% endif %}
  {% if include.show_category and include.post.category %}
    <span class="post-meta">- {{include.post.category}} </span>
  {% endif %}
  {% if include.post.venue %}
    <span class="post-meta">- {{include.post.venue}} </span>
  {% endif %}

  <h2>
    {% assign href = include.post.url | relative_url %}
    {% assign link_text = include.post.title | escape | default: "Unknown title" %}
    {% if include.session %}
      <!-- modify link href -->
      {% unless include.do_not_link_to_anchor %}
        {% assign session_title_slugified = session.title | slugify | prepend:"#" %}
        {% assign href = href | append: session_title_slugified %}
      {% endunless %}

      <!-- modify link text -->
      {% if include.session.title %}
        {% assign title_text = include.session.title | append: " - " %}
        {% assign link_text = link_text | prepend: title_text %}
      {% endif %}
    {% endif %}
    <a class="post-link" href="{{ href }}">
      {{ link_text }}
    </a> 
  </h2>
  {% if include.include_excerpt %}
    {{ include.post.excerpt }}
  {% endif %}
</li>
