<div class="member-profile" itemprop="member" itemscope itemtype="http://schema.org/Person">
  {% if include.member.image %} 
    {% assign imgsrc = "/images/" | append: include.member.image %}
    <img itemprop="image" src="{{ imgsrc }}" alt="{{ include.member.name }}"/>
  {% endif %}

  <p><strong>
      <span itemprop="honorificPrefix">{{ include.member.title }}</span>
      <span itemprop="name">{{ include.member.name }}</span>
  </strong></p>
  <p itemprop="jobTitle"> {{ include.member.job }} </p>
  {% if include/member.profile_url %} 
    <p> <a itemprop="sameAs" href="{{ include.member.profile_url }}">Full profile</a> </p>
  {% endif %}

</div>
