{% comment %}
  Arguments:
  ----------
  * time
  * date
  * itemprop : {"startDate" | "endDate"}
{% endcomment %}


{% if include.date %}
  {% assign date_format = site.minima.date_format %}
  {% assign date = include.date %}
{% else %}
  {% assign date_format = "" %}
  {% assign date = page.date %}
{% endif %}

<!-- strip the time off the datetime string -->
{% assign date = date | date_to_xmlschema | truncate: 10, '' %}

{% if include.time %}
  {% assign datetime = date | append: "T" | append: include.time | date_to_xmlschema %}
  {% assign date_format = date_format | append: " %H:%M" %}
{% else %}
  {% assign datetime = date %}
{% endif %}

<time itemprop="{{ include.itemprop }}" datetime="{{ datetime }}">
  {% if date_format != "" %}

    {% if include.itemprop == "endDate" %}
      -
    {% endif %}

    {{ datetime | date: date_format }}
  {% endif %}
</time>
