{% comment %}
  Arguments:
  ----------
  * time
  * date
  * itemprop : {"startDate" | "endDate"}
  * hide_date : bool
{% endcomment %}


{% if include.date %}
  {% if include.hide_date %}
    {% assign date_format = "" %}    
  {% else %}
    {% assign date_format = site.minima.date_format %}
  {% endif %}
  {% assign date = include.date %}
{% else %}
  {% assign date_format = "" %}
  {% assign date = page.date %}
{% endif %}

{% comment %} Strip the time off the datetime string {% endcomment %}
{% assign date = date | date: "%Y-%m-%d" %}

{% if include.time %}
  {% assign datetime = date | append: "T" | append: include.time | date_to_xmlschema %}
  {% if date_format != "" %}
    {% assign date_format = date_format | append: ", " %}
  {% endif %}
  {% assign date_format = date_format | append: "%H:%M" %}
{% else %}
  {% assign datetime = date %}
{% endif %}

<time itemprop="{{ include.itemprop }}" datetime="{{ datetime }}">
  {% if include.date or include.time %}

    {% if include.itemprop == "endDate" %}
      -
    {% endif %}

    {{ datetime | date: date_format }}
  {% endif %}
</time>
