---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/Event">
<div class="event">

  <span itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ site.title }}" />
    <link itemprop="url" href="/" />
  </span>

  <header class="post-header">
    <h1 class="post-title" itemprop="name">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% include time.html itemprop="startDate" time=page.start_time date=page.date %}
      {% include time.html itemprop="endDate" time=page.end_time date=page.end_date %}
      
      {% if page.author %}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
      {% if page.venue %}
        | Venue: 
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="name"> {{ page.venue }} </span>
          <span itemprop="address" itemscope itemtype="http://schema.org/Text">
            <!-- An address - even an empty address - is required for the microdata to pass validation! -->
          </span>
        </span>
      {% endif %}
      {% if page.youtube_playlist %}
	| 
        <a href="https://www.youtube.com/playlist?list={{ page.youtube_playlist }}">YouTube playlist of event</a>
      {% endif %}
      {% if page.external_website %}
        | <a itemprop="sameAs" href="{{ page.external_website }}">External website</a>
      {% endif %}
      {% if page.project %}
        
        | Project: <a href="/projects/{{ page.project | downcase }}.html">{{ page.project }}</a>
      {% endif %}
    </p>
  </header>

  <div class="post-content">

    {% if page.organisers %}
      <h4>Organisers</h4>
      <ul class="presenters">
        {% for organiser in page.organisers %}
          {% include person.html person=organiser itemprop="organizer" %}
        {% endfor %}
      </ul>
    {% endif %}

    {% include event-details.html session=page %}

    {% for session in page.sessions %}
      {% if session.hide %} {% continue %} {% endif %}
      <div class="session" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">

        <!-- subEvent microdata needs location and startDate to pass validation. -->
        <span style="display:none">
          <span itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name"> {{ page.venue }} </span>
            <span itemprop="address" itemscope itemtype="http://schema.org/Text">
              <!-- An address - even an empty address - is required for the microdata to pass validation! -->
            </span>
          </span>
        </span>
        
        <a name="{{ session.title | slugify }}">
          <h2 itemprop="name"> {{ session.title }} </h2>
        </a>


        {% include time.html itemprop="startDate" date=session.start_date time=session.start_time %}
        {% if session.end_time %}
          {% if session.end_date %}
            {% assign session_end_date = session.end_date %}
          {% else %}
            {% assign session_end_date = session.start_date %}
          {% endif %}
        {% endif %}
        {% if session_end_date == session.start_date %}
          {% assign hide_date = true %}
        {% endif %}
        {% include time.html itemprop="endDate" date=session_end_date time=session.end_time hide_date=hide_date %}

        {% include event-details.html session=session %}
      </div>
    {% endfor %}

    {% include replace-tokens.html input=content %}

  </div>

  <hr/>
  
  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; Previous event: {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">Next event: {{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</div>
</article>


