---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/Event">

  <header class="post-header">
    <h1 class="post-title" itemprop="name">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time itemprop="startDate" content="{{ page.date | date_to_xmlschema }}">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.end_date %}
        -
        <time itemprop="endDate" content="{{ page.end_date | date_to_xmlschema }}">
          {{ page.end_date | date: date_format }}
        </time>
      {% endif %}
      {% if page.author %}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
      {% if page.venue %}
        | Venue: 
        <span itemprop="location" itemscope itemtype="http://schema.org/Text">
          {{ page.venue }}
        </span>
      {% endif %}
      {% if page.youtube_playlist %}
	| <a href="https://www.youtube.com/playlist?list={{ page.youtube_playlist }}">YouTube playlist of event</a>
      {% endif %}
      {% if page.external_website %}
        | <a href="{{ page.external_website }}">External website</a>
      {% endif %}
      {% if page.project %}
        
        | Project: <a href="/projects/{{ page.project | downcase }}.html">{{ page.project }}</a>
      {% endif %}
    </p>
  </header>

  <div class="post-content">

    <span itemprop="description">
      {{ page.description | markdownify }}
    </span>

    <!-- List documents -->
    {% assign path_to_docs = page.path_to_docs | replace:'$BUCKET', site.path_to_bucket %}
    {% include list-files.html files=page.docs heading="Documents" path=path_to_docs %}
    {% include list-files.html files=page.audio heading="Audio files" path=site.path_to_audio_files %}    

    {% for session in page.sessions %}
      {% if session.hide %} {% continue %} {% endif %}
      <div class="session" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">

        <!-- subEvent microdata needs location and startDate to pass validation. -->
        <span style="display:none">
          <span itemprop="location" itemscope itemtype="http://schema.org/Text"> {{ page.venue }} </span>
          <span itemprop="startDate" content="{{ page.date | date_to_xmlschema }}"></span>
        </span>
        
        <a name="{{ session.title | slugify }}">
          <h2 style="margin-bottom: 0em;" itemprop="name"> {{ session.title }} </h2>
        </a>
        {% if session.presenters %}
          <div style="margin-bottom:1em;">
          {% for presenter in session.presenters %}
            <p style="margin-bottom:0em;" itemprop="performer" itemscope itemtype="http://schema.org/Person">
              <span itemprop="jobTitle">{{ presenter.prefix }}</span>
              <strong>
                <span itemprop="name">{{ presenter.name }}</span>
              </strong>
              {% if presenter.affiliation %},
                <span itemprop="affiliation">{{ presenter.affiliation }}</span>
              {% endif %} 
            </p>
          {% endfor %}
          </div>
        {% endif %}
        <span itemprop="description"> 
          {{ session.description | markdownify | replace:"$IMG_PATH",page.img_path}}
        </span>

        {% if session.youtube %}
          {% for youtube in session.youtube %}
            <p><iframe width="740" height="416" src="https://www.youtube.com/embed/{{ youtube }}?list={{ page.youtube_playlist }}" frameborder="0" allowfullscreen></iframe></p>
          {% endfor %}
        {% endif %}

        {% if session.vimeo %}
          {% for video in session.vimeo %}
            <p><iframe src="https://player.vimeo.com/video/{{ video }}" width="740" height="425" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
          {% endfor %}
        {% endif %}

        <!-- List audio files -->
        {% include list-files.html files=session.audio heading="Audio files" path=site.path_to_audio_files %}

        <!-- List documents -->
        {% include list-files.html files=session.docs heading="Documents" path=path_to_docs %}

      </div>
    {% endfor %}

    {{ content }}

  </div>

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; Previous event: {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">Next event: {{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>

