---
layout: default
---

<div class="home" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="EMK Complexity Group"/>
  <link itemprop="url" href="/"/>

  {{ content }}

  <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% include post-listing-entry.html post=post include_excerpt=true %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">
    subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
  </p>

</div>
